
{% extends 'flatpages/default.html' %}


{% block title %}
Post
{% endblock title %}

{% block content %}
{% load static %}
<h1>Объявления автора</h1>
<hr>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" class="mt-3 btn-primary" value="Найти" />
   </form>

    <hr>
  <style>
   .btn0 {
    display: inline-block;
    background: #008080;
    color: #000;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
   }
  </style>

  <style>
   .btn1 {
    display: inline-block;
    background: #B8860B;
    color: #000;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
   }
  </style>
  <style>
   .btn2 {
    display: inline-block;
    background: #FF0000;
    color: #000;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
   }
  </style>

<style>
  table {
    margin: 0 auto; /* задаем отступы, чтобы таблица была по центру */
    text-align: center; /* задаем выравнивание содержимого ячеек таблицы по центру */
  }
</style>
{% for article in articles %}
<li class="list-group-item">
    <a>{{article.title}}</a>
    <small class="text-muted">(автор: {{article.authorPost}})</small>
    <small class="text-muted">(Дата публикации:{{article.dateArticle|date:' M d Y'}})</small><br>
    <small class="fw-bold">Персонаж: {{article.get_category_display}}</small>
    <p>{{article.text}}</p>
    <div>
        <img src="{{ article.upload.url}}"width="300" height="250">
            <p></p>
            <div>
                <a href="{% url 'post_update' pk=article.id %}" class="btn1">Редактировать</a>
            </div>
    </div>

</li>
<p></p>
   {% if article.userresponse_set.all %}
        <table>
            <tr>
                <td><b>Автор</b></td>
                <td><b>Комментарий</b></td>
                <td><b>Дата публикации</b></td>
                <td><b>Действия</b></td>

            </tr>
 <p>Комментарии к объявлению:</p>
        {% for comment in article.userresponse_set.all %}
            <tr>
                <td>{{comment.authorComment}}</td>
                <td>{{comment.text}}</td>
                <td>{{comment.dateComment|date:'M d Y'}}</td>
                <td>
                    {% if comment.status %}
                        <a href="{% url 'comment_status_update' pk=comment.id %}" class="btn2">Отменить</a>

                    {% else %}
                        <a href="{% url 'comment_status_update' pk=comment.id %}" class="btn0">Принять</a>
                        <a href="{% url 'comment_delete' comment.id %}" class="btn2">Удалить</a>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </table>
   {% else %}
    <!-- Если постов нет, говорим, что постов нет ;) -->
        <p>К данному объявлению еще не было оставлено комментариев</p>
   {% endif %}
<hr>
    {% endfor %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}