{% extends 'flatpages/default.html' %}

{% block title %}

Posts
{% endblock title %}


{% block content %}
{% load static %}
  <style>
   .btn0 {
    display: inline-block;
    background: #008080;
    color: #000;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
   }
  </style>

  <style>
   .btn1 {
    display: inline-block;
    background: #B8860B;
    color: #000;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
   }
  </style>
  <style>
   .btn2 {
    display: inline-block;
    background: #FF0000;
    color: #000;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
   }
  </style>
    <h1>Всего объявлений: {{posts|length}}</h1>



    {% if posts %}
        <ul class="list-group list-group-flush">
            {% for post in posts %}
                <li class="list-group-item">
                    <a href="{% url 'post' post.id %}">{{post.title}}</a>
                    <small class="text-muted">(Автор: {{post.authorPost}})</small>
                    <small class="text-muted">(Дата публикации:{{post.dateArticle|date:' M d Y'}})</small> <br>
                    <small class="fw-bold">Персонаж: {{post.get_category_display}}</small>
                    <p>{{post.text}}</p>
                    <div>
                        <img src="{{ post.upload.url}}"width="300" height="250">
                        <p></p>

                    <div>
                    {% if user.is_authenticated %}
                        <a href="{% url 'comment_add' pk=post.id %}" class="btn0">Комментировать</a>
                        {% if post.authorPost == user %}
                            <a href="{% url 'post_update' pk=post.id %}" class="btn1">Редактировать</a>
                        {% endif %}
                    {% endif %}
                        {% if perms.posts.delete_post %}
                        <a href="{% url 'post_delete' pk=post.id %}" class="btn2">Удалить</a>
                        {% endif %}
                    </div>
                    </div>

                </li>
            {% endfor %}
        </ul>
    {% else %}

        <h2>Постов нет!</h2>
    {% endif %}


   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}