
{% extends 'flatpages/default.html' %}


{% block title %}
Post
{% endblock title %}

{% block content %}
  <style>
   .btn0 {
    display: inline-block;
    background: #008080;
    color: #000;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
   }
  </style>

  <style>
   .btn1 {
    display: inline-block;
    background: #B8860B;
    color: #000;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
   }
  </style>
  <style>
   .btn2 {
    display: inline-block;
    background: #FF0000;
    color: #000;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
   }
  </style>
<style>
  table {
    margin: 0 auto; /* задаем отступы, чтобы таблица была по центру */
    text-align: center; /* задаем выравнивание содержимого ячеек таблицы по центру */
  }
</style>
<li class="list-group-item">
    <a>{{post.title}}</a>
    <small class="text-muted">(автор: {{post.authorPost}})</small>
    <small class="text-muted">(Дата публикации:{{post.dateArticle|date:' M d Y'}})</small><br>
    <small class="fw-bold">Персонаж: {{post.get_category_display}}</small>
    <p>{{post.text}}</p>
    <img src="{{ post.upload.url}}"width="300" height="250">
</li>
<p></p>
   {% if post.userresponse_set.all %}
        <table>
            <tr>
                <td><b>Автор</b></td>
                <td><b>Комментарий</b></td>
                <td><b>Дата публикации</b></td>
            </tr>
 <p>Комментарии к объявлению:</p>
        {% for comment in post.userresponse_set.all %}
          {% if comment.status %}
            <tr>
                <td>{{comment.authorComment}}</td>
                <td>{{comment.text}}</td>
                <td>{{comment.dateComment|date:'M d Y'}}</td>
            </tr>
          {% endif %}
        {% endfor %}
        </table>
   {% else %}
        <p>К данному объявлению еще не было оставлено комментариев</p>
   {% endif %}

{% endblock content %}

